body {
    font-family: "Times New Roman", Times, serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    background-image: url('https://www.webhippocrates.com/web_front/images/hero.svg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 40px;
}

.logo {
    height: 60px;
    border: none;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.header-top-section {
    padding: 20px 0 40px 0;
    margin: 0;
    text-align: center;
}

#uploadForm {
    margin-bottom: 30px;
}

input[type="file"] {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 12px; 
    border-radius: 10px;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.plot-container{
    text-align: left;
    padding-left: 30px;
}

#uploadImagesToStorage,
#computePrediction,
#selectImagesForPrediction {
    padding: 3px 12px;
    cursor: pointer;
    border-radius: 10px;
    background: #ffffff;
    color: black;
    border-color: black;
    font-size: 15px;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.top-text-styling{
    color: #ffffff;
}

.select-files-confirm-button{
    background: #ffffff;
    color: black;
}

.select-files-cancel-button{
    background: #ffffff;
    color: black;
}

.select-files-input{
    background: #ffffff;
    color: black;
}
