<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Upload DICOM Files</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">

        <div class="header-top-section">
            <h1 class="top-text-styling">Upload DICOM Files</h1>
            <p class="top-text-styling"><b>Always choose files from the same study</b></p>

            <div class="buttons">
                <form method="post" enctype="multipart/form-data" id="uploadForm" style="display: contents;">
                    <input type="file" id="dicoms" name="dicoms" accept=".dcm">
                    <input type="hidden" name="storage_patient_name" id="storage_patient_name">
                    <input type="hidden" name="storage_study_uid" id="storage_study_uid">
                    
                    <button type="submit" id="computePrediction">Compute prediction</button>
                </form>

                <button id="selectImagesForPrediction" onClick="grabImagesFromStorage()">Select images from storage</button>
            </div>
        </div>

        {% if plot_url %}
            <img src="data:image/png;base64,{{ plot_url }}" alt="Breast Cancer Risk"/>
        {% endif %}
    </div>

    <script src="/static/js/index.js"></script>

    {% if error_message %}
        <script>
            Swal.close();
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: '{{ error_message }}',
                allowOutsideClick: false,
                allowEscapeKey: false
            });
        </script>
    {% endif %}
</body>
</html>